# URL do seu projeto no Supabase (Painel Supabase > Settings > API)
VITE_SUPABASE_URL=https://sua-url-projeto.supabase.co

# Chave Anon/Public do Supabase
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJKV1QiLC...

# URL da API do Backend Scraper no Railway (Em desenvolvimento use http://localhost:3001)
VITE_SCRAPER_API_URL=https://gmaps-scraper.up.railway.app
